.next
node_modules
.pnpm-store
out
dist
.env
.env.local
.env.*.local
*.log
vercel
.vercel
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
.env.local
node_modules
.next
.env
.env.local
node_modules
.next
.env
.env.local
node_modules
.next
